/* Breakpoints */
$s-small: 320px;
$small: 440px;
$s-medium: 570px;
$medium: 768px;
$large: 960px;
$x-large: 1060px;
$xx-large: 1250px;
$xxx-large: 1440px;

/* Colors - Static*/
$golden-tainoi: #F9C444;
$nobel: #9c9c9c;
$dim-gray: #797979;
$powder-blue: #BBE1E1;


$pacific-blue: #1e96d4;
$malibu: #66beeb;
$black-pearl: #131415;
$raven: #6b7280;
$solitude: #eeeff2;
$spindle: #b6bcc6;
$white: #ffffff;
$pattens-blue: #d8dce0;
$quartz: #d2d2d7;
$black: #111111;
$cardinal: #cb253c;
